{{block "student_home" .}}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"></script>
  <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Aluno</title>
</head>
<body>
  <section class="flex h-screen w-full">
    {{template "student_sidebar" .}}
    <div class="flex w-full justify-center items-center">
      <h1>Página Alunos</h1>
    </div>
  </section>
</body>
</html>
{{end}}

{{block "student_sidebar" .}}
<aside class="h-screen w-fit" x-data="{ expanded: $persist(true) }">
  <nav class="h-full flex flex-col bg-[#2a2a2a] text-gray-300 border-r shadow-sm">
    <div class="py-2.5 px-3 flex items-center justify-between border-b border-[#383838]">
			<label class="text-2xl text-nowrap overflow-hidden transition-all" :class="expanded ? 'w-52' : 'w-0' ">Gabriel Henrique</label>
			<button x-on:click="expanded = !expanded" class="p-1.5 w-10 h-10 rounded-lg bg-[#383838] hover:bg-[#4f4f4f] cursor-pointer transition-colors" :class=" expanded ? '' : 'mx-auto' ">
			  <template x-if="expanded == true">
          <i class="fa-solid fa-chevron-left"></i>
				</template>
				<template x-if="expanded == false">
          <i class="fa-solid fa-chevron-right"></i>
				</template>
			</button>
		</div>
    <div 
      class="flex flex-col items-center justify-between border-[#383838]"
      :class="expanded ? 'border-b p-4' : 'border-b-0 p-0'">
      <img 
        src="https://cdn.discordapp.com/avatars/613715798816718919/3a3b62fd4f4e9c7f5baebfe57a803675?size=1024" 
        class="aspect-3/4 transition-all"
        :class="expanded ? 'w-40' : 'w-0'"
        alt="Foto do aluno">
    </div>
    <ul class="mt-2 flex-1 px-3">

      <li
        class="bg-gradient-to-bl from-blue-700 to-blue-600 relative text-lg flex items-center justify-center py-1 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group">
        <i class="fa-solid fa-circle-question"></i>
        <span class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-52 ml-3' : 'w-0 ml-0' ">
          Informações
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-blue-200 text-blue-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Informações
          </div>
        </template>
      </li>

      <li
        class="hover:bg-[#4f4f4f] relative text-lg flex items-center justify-center py-1 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group">
        <i class="fa-solid fa-calendar-days"></i>
        <span class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-52 ml-3' : 'w-0 ml-0' ">
          Cronograma
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-blue-200 text-blue-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Cronograma
          </div>
        </template>
      </li>

      <li
        class="hover:bg-[#4f4f4f] relative text-lg flex items-center justify-center py-1 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group">
        <i class="fa-solid fa-envelope"></i>
        <span class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-52 ml-3' : 'w-0 ml-0' ">
          Email institucional
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-blue-200 text-blue-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Email institucional
          </div>
        </template>
      </li>
      
      <li
        class="hover:bg-[#4f4f4f] relative text-lg flex items-center justify-center py-1 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group">
        <i class="fa-solid fa-book"></i>
        <span class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-52 ml-3' : 'w-0 ml-0' ">
          Boletim escolar
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-blue-200 text-blue-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Boletim escolar
          </div>
        </template>
      </li>

      <li
        class="hover:bg-[#4f4f4f] relative text-lg flex items-center justify-center py-1 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group">
        <i class="fa-solid fa-circle-exclamation"></i>
        <span class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-52 ml-3' : 'w-0 ml-0' ">
          Avisos
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-blue-200 text-blue-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Avisos
          </div>
        </template>
      </li>

      <li
        class="hover:bg-[#4f4f4f] relative text-lg flex items-center justify-center py-1 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group">
        <i class="fa-solid fa-calendar-week"></i>
        <span class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-52 ml-3' : 'w-0 ml-0' ">
          Frequência
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-blue-200 text-blue-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Frequência
          </div>
        </template>
      </li>

      <li
        class="hover:bg-[#4f4f4f] relative text-lg flex items-center justify-center py-1 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group">
        <i class="fa-solid fa-headset"></i>
        <span class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-52 ml-3' : 'w-0 ml-0' ">
          Suporte
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-blue-200 text-blue-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Suporte
          </div>
        </template>
      </li>

    </ul>

    <div class="h-15 border-t border-[#383838] flex items-center justify-center p-3">
      <button
        class="bg-[#a8323e] hover:bg-[#8c2a34] relative text-lg flex items-center justify-center py-1 px-3 rounded-md cursor-pointer transition-all group" 
        :class="expanded ? 'w-full' : 'w-fit'">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span 
          class="overflow-hidden transition-all text-nowrap text-gray-300"
          :class=" expanded ? 'w-fit ml-2' : 'w-0 ml-0' ">
          Sair
        </span>
        <template x-if="!expanded">
          <div
            class="absolute left-full rounded-md px-2 py-1 
                ml-6 bg-red-200 text-red-800 text-sm text-nowrap
                invisible opacity-20 -translate-x-3 transition-all group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
            Sair
          </div>
        </template>
      </button>
    </div>

  </nav>
</aside>
{{end}}
