{{block "login_page" .}}
<!doctype html>
<html lang="pt-br">
  {{template "login_head" .}}
<body>
    <section id="main" class="flex h-screen w-full justify-center items-center">
        {{template "login_student" .}}
    </section>
    <script src="/assets/js/formatter.js"></script>
    <script src="/assets/js/util.js"></script>
</body>
</html>
{{end}} 

{{block "login_student" .}}
<div class="flex items-center justify-center p-20 w-2/3 h-4/5 bg-[#383838] border border-[#4f4f4f] rounded-2xl shadow-lg">
    <form hx-post="/login/aluno" method="post" class="flex flex-col items-center justify-between w-full h-full text-gray-200">
        <h1 class="flex items-center justify-center text-5xl h-25">Sistema XD</h1>
        <div class="flex flex-col items-center justify-center gap-y-5">
            <div class="flex items-center justify-center w-full">
                <span class="text-xl mr-5">Entrar como:</span>
                <div class="inline-flex h-12 rounded-lg shadow-xl">
                    <button hx-get="/login/aluno" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-10 py-2 text-lg font-bold border-3 border-[#367dff] text-[#5994ff] rounded-l-lg">
                        Aluno
                    </button>
                    <button hx-get="/login/professor" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-6 py-2 text-lg font-medium border-t border-b border-gray-400 text-gray-400">
                        Professor
                    </button>
                    <button  hx-get="/login/supervisao" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-6 py-2 text-lg font-medium border border-gray-400 text-gray-400 rounded-r-lg">
                        Supervisão
                    </button>
                </div>
            </div>
            <div class="flex items-center justify-center w-full gap-x-5">
                <div class="inline-flex items-center justify-center">
                    <span class="text-xl mr-5">RM:</span>
                    <input type="text" name="user" id="rm" class="h-12 border-2 px-4 text-xl border-gray-300 rounded-md shadow-xl outline-none">
                </div>
                <div class="inline-flex items-center justify-center relative">
                    <span class="text-xl mr-5">Senha:</span>
                    <input type="password" name="password" id="password" class="h-12 border-2 px-4 text-xl border-gray-300 rounded-md shadow-xl outline-none">
                    <a class="cursor-pointer absolute top-2.5 right-4 text-xl" id="show_button">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </div>
            </div>
            <a href="" class="cursor-pointer text-lg text-[#5994ff] hover:text-blue-600">Recuperar senha</a>
        </div>
        <div class="flex flex-col items-center justify-center gap-y-2">
            <input type="submit" value="Entrar" class="cursor-pointer px-18 py-4 bg-blue-600 hover:bg-blue-700 transition-colors rounded-xl text-3xl">
            <a href="" class="cursor-pointer text-md text-[#5994ff] hover:text-blue-600">Não está cadastrado? Avise um administrador</a>
        </div>
    </form>
</div>
{{end}}

{{block "login_teacher" .}}
<div class="flex items-center justify-center p-20 w-2/3 h-4/5 bg-[#383838] border border-[#4f4f4f] rounded-2xl shadow-lg">
    <form action="" method="post" class="flex flex-col items-center justify-between w-full h-full text-gray-200">
        <h1 class="flex items-center justify-center text-5xl h-25">Sistema XD</h1>
        <div class="flex flex-col items-center justify-center gap-y-5">
            <div class="flex items-center justify-center w-full">
                <span class="text-xl mr-5">Entrar como:</span>
                <div class="inline-flex h-12 rounded-lg shadow-xl">
                    <button hx-get="/login/aluno" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-10 py-2 text-lg font-medium border-l border-t border-b border-gray-400 text-gray-400 rounded-l-lg">
                        Aluno
                    </button>
                    <button hx-get="/login/professor" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-6 py-2 text-lg font-bold border-3 border-[#367dff] text-[#5994ff]">
                        Professor
                    </button>
                    <button hx-get="/login/supervisao" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-6 py-2 text-lg font-medium border-r border-t border-b border-gray-400 text-gray-400 rounded-r-lg">
                        Supervisão
                    </button>
                </div>
            </div>
            <div class="flex items-center justify-center w-full gap-x-5">
                <div class="inline-flex items-center justify-center">
                    <span class="text-xl mr-5">Login:</span>
                    <input type="text" name="user" id="user" class="h-12 border-2 px-4 text-xl border-gray-300 rounded-md shadow-xl outline-none">
                </div>
                <div class="inline-flex items-center justify-center relative">
                    <span class="text-xl mr-5">Senha:</span>
                    <input type="password" name="password" id="password" class="h-12 border-2 px-4 text-xl border-gray-300 rounded-md shadow-xl outline-none">
                     <a class="cursor-pointer absolute top-2.5 right-4 text-xl" id="show_button">
                        <i class="fa-solid fa-eye"></i>
                    </a>
               </div>
            </div>
            <a href="" class="cursor-pointer text-lg text-[#5994ff] hover:text-blue-600">Recuperar senha</a>
        </div>
        <div class="flex flex-col items-center justify-center gap-y-2">
            <input type="submit" value="Entrar" class="cursor-pointer px-18 py-4 bg-blue-600 hover:bg-blue-700 transition-colors rounded-xl text-3xl">
            <a href="" class="cursor-pointer text-md text-[#5994ff] hover:text-blue-600">Não está cadastrado? Avise um administrador</a>
        </div>
    </form>
</div>
{{end}}

{{block "login_admin" .}}
<div class="flex items-center justify-center p-20 w-2/3 h-4/5 bg-[#383838] border border-[#4f4f4f] rounded-2xl shadow-lg">
    <form action="" method="post" class="flex flex-col items-center justify-between w-full h-full text-gray-200">
        <h1 class="flex items-center justify-center text-5xl h-25">Sistema XD</h1>
        <div class="flex flex-col items-center justify-center gap-y-5">
            <div class="flex items-center justify-center w-full">
                <span class="text-xl mr-5">Entrar como:</span>
                <div class="inline-flex h-12 rounded-lg shadow-xl">
                    <button hx-get="/login/aluno" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-10 py-2 text-lg font-medium border border-gray-400 text-gray-400 rounded-l-lg">
                        Aluno
                    </button>
                    <button hx-get="/login/professor" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-6 py-2 text-lg font-medium border-t border-b border-gray-400 text-gray-400">
                        Professor
                    </button>
                    <button hx-get="/login/supervisao" hx-target="#main" hx-swap="innerHTML" class="cursor-pointer px-6 py-2 text-lg font-bold border-3 border-[#367dff] text-[#5994ff] rounded-r-lg">
                        Supervisão
                    </button>
                </div>
            </div>
            <div class="flex items-center justify-center w-full gap-x-5">
                <div class="inline-flex items-center justify-center">
                    <span class="text-xl mr-5">Login:</span>
                    <input type="text" name="user" id="user" class="h-12 border-2 px-4 text-xl border-gray-300 rounded-md shadow-xl outline-none">
                </div>
                <div class="inline-flex items-center justify-center relative">
                    <span class="text-xl mr-5">Senha:</span>
                    <input type="password" name="password" id="password" class="h-12 border-2 px-4 text-xl border-gray-300 rounded-md shadow-xl outline-none">
                    <a class="cursor-pointer absolute top-2.5 right-4 text-xl" id="show_button">
                        <i class="fa-solid fa-eye"></i>
                    </a>
               </div>
            </div>
            <a href="" class="cursor-pointer text-lg text-[#5994ff] hover:text-blue-600">Recuperar senha</a>
        </div>
        <div class="flex flex-col items-center justify-center gap-y-2 h-25">
            <input type="submit" value="Entrar" class="cursor-pointer px-18 py-4 bg-blue-600 hover:bg-blue-700 transition-colors rounded-xl text-3xl">
        </div>
    </form>
</div>
{{end}}

{{block "login_head" .}}
<head>
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
        defer
        src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
    ></script>
    <script
        defer
        src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
        src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"
    ></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <title>Entre na sua conta</title>
</head>
{{end}}
